* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}
img{
    height: 100px;
    
}
.main{
    text-align: center;
    margin: 200px auto;
    width: 400px;
    line-height: 1.5;

}
.input{
    height: 50px;
    width: 320px;
    padding: 10px 30px 10px 5px;
    border-radius: 12px;
    border: 1px solid lightgray;
    margin-right: 20px;
    margin-bottom: 8px;
    font-size: small;
    
}
.btn{
    height: 45px;
    width: 160px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: small;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}
.sec{
    color: gray;
    line-height: 1.5;
}
.singup{
    font-size: 15px;
    margin-bottom: 4px;
    line-height: 1.9;
}
.terms{
    font-size: 12px;
}
a{
    color: gray;
}
.btn{
    background-color: black;
    color: white;
    border: 1px solid black;
    text-decoration: none;
    cursor: pointer;
    color: black;
}